
<div class="content-wrapper" id="webui_timeConfig">
    <div class="content">
        <div class="card-body">
            <form class="needs-validation" novalidate id="FormAddEdit">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="p-2 fw-bold ">Cấu hình thời gian</td>
                        </tr>
                        <tr>
                            <td>
                                <!--Sáng-->
                                <div class="fw-bold">
                                    Sáng
                                </div>
                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian bắt đầu điểm danh buổi sáng <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.morningStartTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian bắt đầu điểm danh buổi sáng</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian kết thúc điểm danh buổi sáng <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.morningEndTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian kết thúc điểm danh buổi sáng</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian bắt đầu tính đi muộn buổi sáng <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.morningLateTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian bắt đầu tính đi muộn buổi sáng</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian bắt đầu tính nghỉ buổi sáng <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.morningBreakTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian bắt đầu tính nghỉ buổi sáng</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>
                                <!--Chiều-->
                                <div class="fw-bold">
                                    Chiều
                                </div>
                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian bắt đầu điểm danh buổi chiều <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.afternoonStartTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian bắt đầu điểm danh buổi chiều</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian kết thúc điểm danh buổi chiều <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.afternoonEndTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian kết thúc điểm danh buổi chiều</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian bắt đầu tính đi muộn buổi chiều <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.afternoonLateTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian bắt đầu tính đi muộn buổi chiều</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-form-label text-start col-lg-3">Thời gian bắt đầu tính nghỉ buổi chiều <span class="text-danger">*</span></label>
                                    <div class="col-lg-9">
                                        <input type="time" class="form-control" required  v-model="item.afternoonBreakTime" step="1">
                                        <div class="invalid-feedback">Vui lòng nhập thời gian bắt đầu tính nghỉ buổi chiều</div>
                                        <div class="valid-feedback">Valid feedback</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div class="row mb-3">
                                    <div class="text-start">
                                        <button type="button" class="btn btn-primary" v-on:click="onSaveData()">Lưu dữ liệu</button>
                                        <a href="~/Configuration/Code">Lấy token</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        
    });
    var _timeConfig = new Vue({
        el: '#webui_timeConfig',
        components: {
            'BootstrapTable': BootstrapTable
        },
        data: {
            data: {},
            item: {},
            column: [],
            options: {
                search: true,
                pagination: true,
                showExtendedPagination: true,
                showExport: false,
                sortable: true,
                groupBy: true,
                paginationHAlign: 'right',
                paginationDetailHAlign: 'right',
                pageSize: 10,
                pageList: [10, 25, 50, 100, 200],
            },
            object: {
                dateNow: formatDateTime(new Date()),
                form_tile: '',
                editAction: false,
                infoAction: false,
                bearerAuthorization: {
                    headers: { Authorization: `Bearer @Model`, 'Content-Type': 'application/json' }
                }
            },
        },
        methods: {
            loadData() {
                $('.loader').show();
                axios.get('/api/v1/TimeConfig/GetFirstOrDefault', this.object.bearerAuthorization).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }

                    if (response.data.succeeded) {
                        //this.data = response.data.data;
                        this.item = response.data.data || {};

                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }

                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                });
            },
            onSaveData() {
                console.log(this.item);
                if (!validateForm("#FormAddEdit"))
                    return true;
                $('.loader').show();
                axios.post('/api/v1/TimeConfig/AddOrEdit', this.item, this.object.bearerAuthorization).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }

                    if (response.data.succeeded) {
                        alertify.success("Thành công");
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }

                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    console.log(error);
                    $('.loader').delay(100).hide(0);
                });
            },

            onGetToken() {
                
        },
        mounted() {
            this.loadData();
        },
    })
</script>

