################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/Brickstream/Brickstream.API/bin/Debug/net8.0
/Services/Brickstream/Brickstream.API/obj

/Services/Brickstream/Brickstream.Application/bin/Debug/net8.0
/Services/Brickstream/Brickstream.Application/obj

/Services/Brickstream/Brickstream.Core/bin/Debug/net8.0
/Services/Brickstream/Brickstream.Core/obj

/Services/Brickstream/Brickstream.Infrastructure/bin/Debug/net8.0
/Services/Brickstream/Brickstream.Infrastructure/obj

/Services/Server/Server.API/bin/Debug/net8.0
/Services/Server/Server.API/obj

/Services/Server/Server.Application/bin/Debug/net8.0
/Services/Server/Server.Application/obj

/Services/Server/Server.Core/bin/Debug/net8.0
/Services/Server/Server.Core/obj

/Services/Server/Server.Infrastructure/bin/Debug/net8.0
/Services/Server/Server.Infrastructure/obj 

/Services/Share/IdentityServer4/IdentityServer4.EntityFramework/bin/Debug/net8.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework/obj
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework.Storage/bin/Debug/net8.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework.Storage/obj

/Services/Share/Share.WebApp/bin/Debug/net8.0
/Services/Share/Share.WebApp/obj
/Services/Share/Shared.Core/bin/Debug/net8.0
/Services/Share/Shared.Core/obj/Debug/net8.0
/Services/Share/Shared.Core/obj
/Services/Share/EventBus.Messages/bin/Debug
/Services/Share/EventBus.Messages/obj
/Services/Devices/Device.API/bin/Debug/net8.0
/Services/Devices/Device.API/obj
/Services/Devices/Device.Application/bin/Debug/net8.0
/Services/Devices/Device.Application/obj
/Services/Devices/Device.Core/bin/Debug/net8.0
/Services/Devices/Device.Core/obj
/Services/Devices/Device.Infrastructure/bin/Debug/net8.0
/Services/Devices/Device.Infrastructure/obj
/Services/Devices/Device.Application/bin/Release/net8.0
/Services/Devices/Device.Core/bin/Release/net8.0
/Services/Devices/Device.API/bin/Release/net8.0
/Services/Server/Server.Core/bin/Release/net8.0
/Services/Server/Server.Infrastructure/bin/Release/net8.0
/Services/Server/Server.Application/bin/Release/net8.0
/Services/Devices/Device.API/Properties/PublishProfiles
/Services/Share/EventBus.Messages/bin/Release/net8.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework/bin/Release/net8.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework.Storage/bin/Release/net8.0
/Services/Share/Share.WebApp/bin/Release/net8.0
/Services/Share/Shared.Core/bin/Release/net8.0
/Services/Server/Server.API/bin/Release/net8.0
/Services/Server/Server.API/Properties/PublishProfiles
/Services/Devices/Device.Infrastructure/bin/Release/net8.0
/Services/Devices/Device.API/wwwroot/logs
/Services/Share/Notifications/Notification.Core/bin/Debug/net8.0
/Services/Share/Notifications/Notification.Core/obj
/Services/Share/Notifications/Notification.Infrastructure/bin/Debug/net8.0
/Services/Share/Notifications/Notification.Infrastructure/obj
/Services/Share/Notifications/Notification.Application/obj
/AMMS.Notification/bin/Debug/net8.0
/AMMS.Notification/obj
/Services/Share/AMMS.Notification/bin
/Services/Share/AMMS.Notification/obj
/Services/Devices/Device.Core/bin/Debug/net6.0
/Services/Devices/Device.Infrastructure/bin/Debug/net6.0
/Services/Server/Server.Core/bin/Debug/net6.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework/bin/Debug/net6.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework.Storage/bin/Debug/net6.0
/Services/Share/Share.WebApp/bin/Debug/net6.0
/Services/Share/Shared.Core/bin/Debug/net6.0
/Services/Devices/Device.API/bin/Debug/net6.0
/Services/Devices/Device.Application/bin/Debug/net6.0
/Services/Server/Server.API/bin/Debug/net6.0
/Services/Server/Server.Application/bin/Debug/net6.0
/Services/Server/Server.Infrastructure/bin/Debug/net6.0
/Services/Devices/Device.API/bin/Release/net6.0
/Services/Devices/Device.Application/bin/Release/net6.0
/Services/Devices/Device.Core/bin/Release/net6.0
/Services/Devices/Device.Infrastructure/bin/Release/net6.0
/Services/Server/Server.Application/bin/Release/net6.0
/Services/Server/Server.Core/bin/Release/net6.0
/Services/Server/Server.Infrastructure/bin/Release/net6.0
/Services/Share/EventBus.Messages/bin/Release/net6.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework/bin/Release/net6.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework.Storage/bin/Release/net6.0
/Services/Share/Share.WebApp/bin/Release/net6.0
/Services/Share/Shared.Core/bin/Release/net6.0
/Services/Server/Server.API/bin/Release/net6.0
/Services/Devices/Device.Core/bin/Debug/net6.0
/Services/Devices/Device.Infrastructure/bin/Debug/net6.0
/Services/Server/Server.Core/bin/Debug/net6.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework/bin/Debug/net6.0
/Services/Share/IdentityServer4/IdentityServer4.EntityFramework.Storage/bin/Debug/net6.0
/Services/Share/Share.WebApp/bin/Debug/net6.0
/Services/Share/Shared.Core/bin/Debug/net6.0
/Services/Devices/Device.API/bin/Debug/net6.0
/Services/Devices/Device.Application/bin/Debug/net6.0
/Services/Server/Server.API/bin/Debug/net6.0
/Services/Server/Server.Application/bin/Debug/net6.0
/Services/Server/Server.Infrastructure/bin/Debug/net6.0
/AMMS.Notification/bin/Release/net8.0
/Services/Server/Server.API/wwwroot/export_excel
*.zip
/Services/Test/BrickstreamTestPerformance/bin/Debug/net6.0-windows
/Services/Test/BrickstreamTestPerformance/obj
/Services/Test/BrickstreamTestPerformanceConsole/bin/Debug/net6.0
/Services/Test/BrickstreamTestPerformanceConsole/obj
/Services/Server/Server.API/wwwroot/image/2024/10/14
/Services/Server/Server.API/wwwroot/image/2024/10/13
/Services/Server/Server.API/wwwroot/image/2024/10/15
/Services/Server/Server.API/wwwroot/image/2024/10/16
/Services/Server/Server.Infrastructure/Datas/MasterData/MySqlMigrations/20241016040224_MasterData_Init_Lane.cs
/Services/Server/Server.Infrastructure/Datas/MasterData/MySqlMigrations/20241016040224_MasterData_Init_Lane.Designer.cs
/Share/AMMS.ZkAutoPush/obj
/AMMS.DeviceData/obj
/Share/AMMS.ZkAutoPush/bin/Debug/net6.0
/AMMS.DeviceData/bin/Debug/net6.0
/Share/AMMS.ZkAutoPush/Properties/launchSettings.json
/AMMS.Hanet/bin/Debug/net6.0
/AMMS.Hanet/obj
/Share/AMMS.ZkAutoPush/Properties/launchSettings.json
/Services/Server/Server.API/wwwroot/images/students
/AMMS.VIETTEL.SMAS/bin/Debug/net6.0
/AMMS.VIETTEL.SMAS/obj
/AMMS.DeviceData/bin/Release/net6.0
/AMMS.Hanet/bin/Release/net6.0
/AMMS.Hanet/Properties/PublishProfiles/FolderProfile.pubxml
/AMMS.VIETTEL.SMAS/bin/Release/net6.0
/Share/AMMS.ZkAutoPush/bin/Release/net6.0
/Zkteco.Test/obj
