@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<!-- Main content -->
<div class="content-wrapper p-0" id="webui_dashboard">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div style="padding: 3px 18px !important; " class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0" style="padding: 10px 8px !important; ">
                        <span class="fw-normal">@ViewData["Title"]</span>
                    </h4>
                </div>

                <div class=" d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                    <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                        <div class="d-inline-flex mt-3 mt-sm-0">
                            <div class="pull-right">
                                <a href="/V1/ScheduleDashBoardReport" class="btn btn-primary " style="margin-right: 5px;"> Báo cáo tự động</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /page header -->
        <!-- Content area -->

        @* <div class="content">
            <div class="card">
                <div class="card-body">
                      
                </div>
            </div>

        </div> *@

        <div class="mt-4 px-2">
            <div class="row">
                <!-- Cột 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="px-2 bg-data">
                        <h5 class="py-2" style="color: black;"><i class="ph-chart-pie"></i> Dữ liệu</h5>
                    </div>
                    <div class="ps-2 bg-data">
                        @await Html.PartialAsync("/Areas/Managers/DashBoards/V1/Views/DbSchoolClassStudent.cshtml")
                    </div>
                    <div class="ps-2 bg-data">
                        @await Html.PartialAsync("/Areas/Managers/DashBoards/V1/Views/DBDevice1.cshtml")
                    </div>
                </div>
                <!-- Cột 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="px-2 bg-active">
                        <h5 class="py-2" style="color: black;"><i class="ph-clock"></i> Hoạt động</h5>
                    </div>
                    <div class="ps-2 bg-active">
                        @await Html.PartialAsync("/Areas/Managers/DashBoards/V1/Views/DBStudentFace.cshtml")
                    </div>
                    <div class="ps-2 bg-active">
                        @await Html.PartialAsync("/Areas/Managers/DashBoards/V1/Views/DBStudentAttendace.cshtml")
                    </div>
                </div>
                <!-- Cột 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="px-2 bg-system">
                        <h5 class="py-2" style="color: black;"><i class="ph-gear"></i> Hệ thống</h5>
                    </div>
                    <div class="ps-2 bg-system">
                        @await Html.PartialAsync("/Areas/Managers/DashBoards/V1/Views/DBSendEmail.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/Components/_FooterPartial.cshtml")
</div>


<style>
    .underline-dashed {
        border-bottom: 1px dashed; 
    }
    .bg-data {
        background-color: #D0EFFF !important;
    }
    .bg-active {
        background-color: #FFFAE3 !important;
    }
    .bg-system {
        background-color: #A9F7B1 !important;
    }
</style>