<div class="navbar navbar-sm navbar-footer border-top">
    <div class="container-fluid">
       
        <ul class="nav">
            
        </ul>
        <span> By<a href="/"> AMMS IoT</a></span>
    </div>
</div>