@inject IWebHostEnvironment Environment
@{
    // var version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version?.ToString();
    var version = " 1.0.0.202411151152";
}
<div class="navbar navbar-sm navbar-footer border-top">
    <div class="container-fluid">
        <ul class="nav">
        </ul>
        <span> ©2024 - AMMS IoT @version - All Rights Reserved.  By<a href="/"> AMMS IoT</a></span>
    </div>
</div>