    <!-- Main sidebar -->
<div id="menuSidebar" class="sidebar sidebar-dark sidebar-main sidebar-expand-lg ">

    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- Sidebar header -->
        <div class="sidebar-section">
            <div class="sidebar-section-body d-flex justify-content-center">
                <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Điều khiển</h5>

                <div>
                    <button id="btn-sidebarControl" type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                        <i class="ph-arrows-left-right"></i>
                    </button>

                    <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                        <i class="ph-x"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- /sidebar header -->
        <!-- Main navigation -->
        <div class="sidebar-section">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                <!-- Dashboard -->
                <li class="nav-item-header pt-0">
                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Dashboard</div>
                    <i class="ph-dots-three sidebar-resize-show"></i>
                </li>
                <li class="nav-item">
                    <a href="~/" class="nav-link  ">
                        <i class="ph-house"></i>
                        <span>
                            Dashboard
                        </span>
                    </a>
                </li>

                <!-- Báo cáo -->
                <li class="nav-item-header pt-0">
                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Báo cáo</div>
                    <i class="ph-dots-three sidebar-resize-show"></i>
                </li>

                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="ph-layout"></i>
                        <span>Báo cáo</span>
                    </a>
                    <ul class="nav-group-sub collapse ">
                        @* <li class="nav-item"><a href="~/v1/BaoCaoLuotXe" class="nav-link">Báo cáo từng lượt xe </a></li> *@
                        <li class="nav-item"><a href="~/v1/BaoCaoChiTiet" class="nav-link">Báo cáo chi tiết</a></li>
                    </ul>
                </li>

                <!-- Quản lý dữ liệu -->
                <li class="nav-item-header pt-0">
                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Dữ liệu</div>
                    <i class="ph-dots-three sidebar-resize-show"></i>
                </li>

                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="ph-article"></i>
                        <span>Dữ liệu</span>
                    </a>

                    <ul class="nav-group-sub collapse ">
                        <li class="nav-item"><a href="~/V1/Lane" class="nav-link">Vị trí</a></li>
                        <li class="nav-item"><a href="~/V1/Device" class="nav-link">Thiết bị</a></li>
                    </ul>
                </li>


                <!-- Quản lý   -->
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="ph-wrench"></i>
                        <span>Quản lý</span>
                    </a>
                    <ul class="nav-group-sub collapse ">
                        <li class="nav-item"><a href="~/V1/User" class="nav-link">Người dùng</a></li>
                        <li class="nav-item"><a href="~/V1/Configuration" class="nav-link">Cấu hình</a></li>
                    </ul>
                </li>

                <!-- Cấu hình hệ thống  -->
                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="ph-wrench"></i>
                        <span>Cấu hình hệ thống</span>
                    </a>
                    <ul class="nav-group-sub collapse ">
                        <li class="nav-item"><a href="~/V1/SystemConfiguration" class="nav-link">Tài khoản</a></li>
                        <li class="nav-item"><a href="~/V1/RoleGroup" class="nav-link">Quyền</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /main navigation -->
    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
