@{
    ViewData["Title"] = "AMMS Iot - Tích hợp ZKTeco";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
} 

<!-- Main content -->
<div class="content-wrapper" id="webui">
    <!-- Inner content -->
    <div class="content-inner">    </div>
    @await Html.PartialAsync("/Views/Shared/Components/_FooterPartial.cshtml")
</div>
