@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<header class="p-2">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
