@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Inner content -->
        <div class="content-inner">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <form class="login-form  needs-validation id="account" method="post">
                    <div class="text-center mb-3">
                        <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                            <img src="~/assets/images/logo_icon.png" class="h-48px" alt="">
                        </div>
                        <h3 class="mb-0"><b>Đặt lại mật khẩu</b></h3>
                        <span class="d-block text-muted">Vui lòng nhập thông tin xác thực của bạn bên dưới </span>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Input.Code" type="hidden" />



                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <div class="form-control-feedback form-control-feedback-start">
                            <input class="form-control" asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <div class="form-control-feedback-icon">
                                <i class="ph-user-circle text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mật khẩu</label>
                        <div class="form-control-feedback form-control-feedback-start">
                            <input class="form-control" asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="form-control-feedback-icon">
                                <i class="ph-lock text-muted"></i>
                            </div>
                        </div>
                    </div>



                    <div class="mb-3">
                        <label class="form-label">Xác nhận mật khẩu</label>
                        <div class="form-control-feedback form-control-feedback-start">
                            <input class="form-control" asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            <div class="form-control-feedback-icon">
                                <i class="ph-lock text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Đặt lại mật khẩu</button>
                    </div>
                </form>



            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->
    </div>
    <!-- /main content -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
