@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Inner content -->
        <div class="content-inner">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                <img src="~/assets/images/logo_icon.png" class="h-48px" alt="">
                            </div>
                            <h3 class="mb-0"><b>KHÔI PHỤC MẬT KHẨU THÀNH CÔNG</b></h3>
                            <span class="d-block text-muted">
                                Mật khẩu của bạn đã được thiết lập. <a asp-page="~/Account/Login">Bấm vào đây để đăng nhập</a> .
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->

        </div>
        <!-- /inner content -->

    </div>
    <!-- /main content -->

</div>
