@{
    ViewData["Title"] = "Danh sách học sinh SMAS";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<style>
    video, img {
        width: 100%;
        max-width: 400px;
    }
</style>
<!-- Main content -->
<div class="content-wrapper" id="webui">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div style="padding: 3px 18px !important; " class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0" style="padding: 10px 8px !important; ">
                        <span class="fw-normal">@ViewData["Title"]</span>
                    </h4>
                </div>
                <div class="d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                    <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                        <div class="d-inline-flex mt-3 mt-sm-0">
                            <div class="pull-right">
                                @* <a v-on:click="onPopupModelEdit(null)" class="btn btn-primary " style="margin-right: 5px;"> Đồng bộ học sinh</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /page header -->
        <!-- Content area -->
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <form v-on:submit.prevent="onLoadData">
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label class="form-label">Trường học</label>
                                <select id="schoolLevelCode" class="form-control select" v-model:value="dtoClass.schoolLevelCode">
                                    <option selected value="">Vui lòng chọn trường học </option>
                                    <option v-for="option in combobox.schools" v-bind:value="option.schoolLevelCode">
                                        {{ option.schoolLevelName }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Năm học</label>
                                <select id="schoolYearId" class="form-control select" v-model:value="dtoClass.schoolYearId">
                                    <option selected value="">Vui lòng chọn năm học </option>
                                    <option v-for="option in combobox.schoolYears" v-bind:value="option.schoolYearId">
                                        {{ option.code }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Lớp</label>
                                <select id="classId" class="form-control select">
                                    <option selected value="">Vui lòng chọn lớp </option>
                                    <option v-for="option in combobox.classes" v-bind:value="option.id">
                                        {{ option.className }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label">Từ khóa tìm kiếm</label>
                                <input type="text" id="key" name="key" placeholder="Nhập từ khóa tìm kiếm" class="form-control" v-model="dtoStudent.key">
                            </div>

                            <div class="col-md-2 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Tìm kiếm</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <bootstrap-table :columns="columns" :data="data" :options="options"></bootstrap-table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModelAddEdit" aria-hidden="true">
        <div id="waitDialog" class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="staticBackdropLabel" class="modal-title">{{object.form_tile}}</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
                <form class="form-horizontal has-validation-callback" v-on:submit.prevent="onSubmitFormAddEdit" id="FormAddEdit">
                    <div class="modal-body">
                        <div class="box">
                            <div class="row">
                                <div class="row ">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-3">
                                            <div class="text-center" id="khung-chup">
                                                <div class="anh-chup image-div">
                                                    <a id="aoutput" data-fancybox="gallery" v-bind:href="item.imageSrc">
                                                        <img id="output" v-bind:src="item.imageSrc">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 col-sm-12  ">
                                                <input type="file" id="imageInput" class="form-control mb-2" accept="image/*">
                                                <button type="button" id="openModalCapture" class="btn  btn-primary d-none d-md-block"> <i class="ph-camera ph me-3"></i>  Chụp ảnh </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <label class="col-md-4 control-label text-nowrap fw-bold mb-1 ">Mã học sinh   </label>
                                        <div class="col-md-10 col-sm-12  ">
                                            <input class="form-control  mb-1 " type="text" readonly required id="studentCode" name="studentCode" v-model:value="item.studentCode">
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-nowrap fw-bold mb-1">Căn cước  </label>
                                            <div class="col-md-10 col-sm-12  ">
                                                <input class="form-control  mb-1 " type="text" readonly required id="identifyNumber" name="identifyNumber" v-model:value="item.identifyNumber">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-nowrap fw-bold mb-1">Lớp  </label>
                                            <div class="col-md-10 col-sm-12  ">
                                                <input class="form-control  mb-1  " type="text" readonly required id="className" name="className" v-model:value="item.className">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label  text-nowrap fw-bold mb-1">Giới tính</label>
                                            <div class="col-md-10 col-sm-12  ">
                                                <label> <input type="radio" class="form-check-input" disabled required v-model:value="item.genderCode" value="01"> Nam</label>
                                                <label> <input type="radio" class="form-check-input" disabled required v-model:value="item.genderCode" value="02">Nữ </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label  text-nowrap fw-bold mb-1">Họ và tên    </label>
                                            <div class="col-md-10 col-sm-12  ">
                                                <input type="text" id="fullName" name="fullName" readonly required class="form-control  mb-1  " v-model:value="item.fullName">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label text-nowrap fw-bold mb-1">Trạng thái </label>
                                            <div class="col-md-10 col-sm-12  ">
                                                <input type="text" id="status" name="status" readonly required class="form-control  mb-1  " v-model:value="item.status">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label  text-nowrap fw-bold mb-1">Năm sinh</label>
                                            <div class="col-md-10 col-sm-12  ">
                                                <input type="text" id="syncCode" name="syncCode" readonly required class="form-control  mb-1" v-model:value="item.dateOfBirth1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-end">
                            <button type="button" class="btn mr-5" data-bs-dismiss="modal"> Bỏ qua </button>
                            <button type="submit" class="btn btn-primary"> Lưu </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModelImage" aria-hidden="true">
        <div id="waitDialog" class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="staticBackdropLabel" class="modal-title">Cắt ảnh</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="image" style="max-width: 100%; display: none;">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-end">
                        <button id="cropBtn" type="button" class="btn btn-primary "> <i class="ph-crop me-2"></i> Cắt ảnh </button>
                        <button type="button" class="btn mr-5" data-bs-dismiss="modal"> Bỏ qua </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModelCapture" aria-hidden="true">
        <div id="waitDialog" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="staticBackdropLabel" class="modal-title">Chụp ảnh</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close closeC"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <video id="video" autoplay></video>
                            <button type="button" id="capturePhoto" class="btn  btn-primary"><i class="ph-camera ph me-2"></i>  Chụp ảnh </button>
                            <button style="display:none" type="button" id="switchCamera" class="btn  btn-primary"><i class="ph-arrows-ph me-2"></i> Switch </button>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <canvas id="canvas" style="display: none;"></canvas>
                            <div class="div-image-capture ">
                                <img id="capturedImage" alt="Captured Photo" style="display: none;" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-end">
                        <button id="cropPhoto" type="button" class="btn btn-primary "> <i class="ph-crop me-2"></i> Cắt ảnh </button>
                        <button type="button" class="btn mr-5 closeC" data-bs-dismiss="modal"> Đóng </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    connection.on("RefreshStudent", function (data) {
        var data1 = JSON.parse(data);
        _Student.onLoadData();
    });

    $(document).ready(function () {
        $('#schoolLevelCode').on("change", function () {

            _Student.dtoClass.schoolLevelCode = $(this).val() ?? null;

            _Student.combobox.classes = [];
            _Student.combobox.data = [];

            _Student.onPostClass();
            _Student.onLoadData();

            localStorage.setItem('schoolLevelCode', $(this).val());

        });

        $('#schoolYearId').on("change", function () {
            _Student.dtoStudent.schoolYearId = $(this).val() ?? null;
            _Student.dtoClass.schoolYearId = $(this).val() ?? null;
            _Student.dtoClass.schoolyear = $(this).find(":selected").text()?.trim() ?? null;

            _Student.combobox.classes = [];
            _Student.combobox.data = [];

            _Student.onPostClass();
            _Student.onLoadData();


            localStorage.setItem('schoolYearId', $(this).val()) ?? null;
            localStorage.setItem('schoolyear', $(this).find(":selected").text()?.trim()) ?? null;

        });

        $('#classId').on("change", function () {
            _Student.dtoStudent.classId = $(this).val() ?? null;

            _Student.combobox.data = [];
            _Student.onLoadData();
        });
    });

</script>


<script>
    var _Student = new Vue({
        el: '#webui',
        components: {
            'BootstrapTable': BootstrapTable
        },
        data: {
            columns: [
                {
                    field: '#action',
                    title: 'Thao tác',
                    align: 'center',
                    formatter: (value, row, index) => {
                        var ele = `<div style="white-space: nowrap; ">`;
                        ele += `<a href="javascript: " class="btn btn-sm btn-info edit" title="Cập nhật đăng ký "><i class="fa fa-cogs" > </i> </a> &nbsp `;
                        return ele;
                    },
                    events: {
                        'click .edit': function (e, value, row) {
                            _Student.onPopupModelEdit(row);
                        },
                    }
                },
                {
                    title: 'Mã học sinh',
                    sortable: true,
                    field: 'studentCode'
                },
                {
                    title: 'Họ tên',
                    sortable: true,
                    field: 'fullName'
                },
                {
                    title: 'Giới tính',
                    sortable: true,
                    field: 'fullName',
                    formatter: (value, row, index) => {
                        if (row.genderCode == "01") {
                            return "<span class='badge bg-primary bg-opacity-10 text-primary'>" + "Nam" + "</span>";
                        } else {
                            return "<span class='badge bg-warning bg-opacity-10 text-warning'>" + "Nữ" + "</span>";
                        }
                    }
                },
                {
                    title: 'Năm sinh',
                    sortable: true,
                    field: 'dateOfBirth',
                    formatter: (value, row, index) => {
                        if (row.dateOfBirth) {
                            var dateOfBirth = moment(row.dateOfBirth).format('DD/MM/YYYY');
                            return "<span class ='black'> " + dateOfBirth + "  </span>";
                        }
                    }
                },
                {
                    title: 'Căn cước ',
                    sortable: true,
                    field: 'identifyNumber'
                },
                {
                    title: 'Khối',
                    sortable: true,
                    field: 'gradeCode'
                },
                {
                    title: 'Lớp',
                    sortable: true,
                    field: 'className'
                },
                {
                    title: 'Trạng thái',
                    sortable: true,
                    field: 'status'
                },

            ],
            data: [],
            options: {
                search: true,
                pagination: true,
                showExtendedPagination: true,
                sortable: true,
                searchAlign: 'right',
                paginationHAlign: 'lefft',
                paginationDetailHAlign: 'right',
                pageSize: 25,
                pageList: [10, 25, 50, 100, 200],
            },
            dtoStudent: {
                classId: null,
                schoolYearId: null,
                key: "",
            },
            dtoClass: {
                schoolLevelCode: null,
                schoolYearId: null,
                schoolyear: null,
            },
            object: {
                dateNow: formatDateTime(new Date()),
                form_tile: '',
                editAction: false,
                infoAction: false,
                config: {
                    headers: { Authorization: `Bearer @Model`, 'Content-Type': 'application/json' }
                }
            },
            item: {},
            combobox: { schools: [], schoolYears: [], classes: [] },
        },
        methods: {
            onLoadData() {
                $('.loader').show();
                axios.post('/api/v1/StudentSmas/Post', this.dtoStudent, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }

                    if (response.data.succeeded) {
                        this.data = response.data.data.students;
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }

                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                });
            },
            onResetForm() {
                this.item = {};
            },
            onPopupModelEdit(row) {
                const el = { ...row };
                this.item = el;
                try { this.item.dateOfBirth1 = ConvertDinhDangNgay(el.dateOfBirth); } catch (Ex) { }
                this.item = { ...this.item };

                this.object.form_tile = "Thông tin học sinh";
                bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelAddEdit')).show();
            },

            onSubmitFormAddEdit() {
                if (!validateForm("#FormAddEdit"))
                    return true;

                $('.loader').show();
                axios.put('/api/v1/StudentSmas/Edit', this.item, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;

                    $('.loader').hide(0);
                    if (response.data.succeeded) {
                        _Student.onLoadData();

                        bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelAddEdit')).hide();
                        alertify.success(response.data.message);
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                }).catch(error => {
                    $('.loader').hide(0);

                });
            },

            onLoadCombobox() {
                axios.post('/api/v1/StudentSmas/PostSchool', null, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }
                    if (response.data.succeeded) {
                        this.combobox.schools = {
                            ...response.data.data.schools
                        };
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                })

                axios.post('/api/v1/StudentSmas/PostSchoolYears', null, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }

                    if (response.data.succeeded) {
                        this.combobox.schoolYears = {
                            ...response.data.data.schoolYears
                        };

                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                })


            },
            onPostClass() {
                axios.post('/api/v1/StudentSmas/PostClass', this.dtoClass, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }

                    if (response.data.succeeded) {
                        this.combobox.classes = {
                            ...response.data.data.classes
                        };
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                })
            },

            onLoadLocalStorage() {
                const _schoolLevelCode = localStorage.getItem('schoolLevelCode');
                if (_schoolLevelCode) {
                    this.dtoClass.schoolLevelCode = _schoolLevelCode;
                } else {
                    this.dtoClass.schoolLevelCode = "";
                }


                const _schoolYearId = localStorage.getItem('schoolYearId');
                if (_schoolYearId) {
                    this.dtoClass.schoolYearId = _schoolYearId;
                    this.dtoStudent.schoolYearId = _schoolYearId;
                } else {
                    this.dtoClass.schoolYearId = "";
                    this.dtoStudent.schoolYearId = "";;
                }


                const _schoolyear = localStorage.getItem('schoolyear');
                if (_schoolyear) {
                    this.dtoClass.schoolyear = _schoolyear;
                }else
                {
                    this.dtoClass.schoolyear = "";
                }
            },
        },
        mounted() {
            this.onLoadLocalStorage();

            this.onLoadCombobox();
            this.onPostClass();
            this.onLoadData();

        },
    })
</script>


<script>
    let cropper;
    const image = document.getElementById('image');
    const aoutput = document.getElementById('aoutput');
    const imageInput = document.getElementById('imageInput');
    const cropBtn = document.getElementById('cropBtn');
    const croppedImage = document.getElementById('croppedImage');

    imageInput.addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (file) {
            bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelImage')).show();

            const reader = new FileReader();
            reader.onload = function (event) {
                image.src = event.target.result;
                image.style.display = 'block';

                if (cropper) {
                    cropper.destroy();
                }

                cropper = new Cropper(image, {
                    preview: '.preview',
                    aspectRatio: 1, // Tỉ lệ hình vuông
                    viewMode: 1,
                    autoCropArea: 1, // Vùng crop bao phủ toàn bộ ảnh
                    movable: true,
                    zoomable: true,
                });
            };
            reader.readAsDataURL(file);
        }
        imageInput.value = '';
    });

    // Handle the crop button
    cropBtn.addEventListener('click', function () {
        const canvas = cropper.getCroppedCanvas({
            width: 250,
            height: 300
        });

        let _img = canvas.toDataURL('image/png');
        let imgBase64 = _img.replace('data:image/png;base64,', '')
            .replace('data:image/jpeg;base64,', '')
            .replace('data:image/gif;base64,', '')
            .replace('data:image/heic;base64,', '')
            //.replace('data:image/webp;base64,', '')
            .replace('data:image/jpg;base64,', '');


        _Student.item.imageSrc = _img;
        _Student.item.imageBase64 = imgBase64;

        aoutput.style.display = 'block';
        bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelImage')).hide();
    });
</script>

<script>
    const modal = document.getElementById("cameraModal");
    const video = document.getElementById("video");
    const canvas = document.getElementById("canvas");
    const capturedImage = document.getElementById("capturedImage");
    const capturePhoto = document.getElementById("capturePhoto");
    const cropPhoto = document.getElementById("cropPhoto");
    const openModalCapture = document.getElementById("openModalCapture");
    const closeModals = document.querySelectorAll(".closeC");
    const switchCameraButton = document.getElementById('switchCamera');

    let currentStream;
    let isFrontCamera = true;
    const constraints = {
        video: {
            facingMode: 'user'
        }
    };



    openModalCapture.addEventListener('click', function () {
        bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelCapture')).show();
        startCamera();
    });

    function startCamera() {
        navigator.mediaDevices.getUserMedia(constraints)
            .then(stream => {
                currentStream = stream;
                video.srcObject = stream;
            })
            .catch(error => {
                console.error('Error accessing the camera: ', error);
            });
    }
    function closeModal() {
        bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelCapture')).hide();

        capturedImage.src = null;
        let stream = video.srcObject;
        let tracks = stream.getTracks();
        tracks.forEach(track => track.stop());
        video.srcObject = null;

        if (cropper) {
            cropper.destroy();
            cropper = null;
        }
    }
    function switchCamera() {
        // Stop the current stream
        if (currentStream) {
            currentStream.getTracks().forEach(track => track.stop());
        }
        // Toggle the camera
        isFrontCamera = !isFrontCamera;
        constraints.video.facingMode = isFrontCamera ? 'user' : 'environment';
        // Restart the camera with the new constraints
        startCamera();
    }

    capturePhoto.addEventListener('click', function () {
        capturedImage.src = null;

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const context = canvas.getContext("2d");
        context.drawImage(video, 0, 0, canvas.width, canvas.height);

        const dataURL = canvas.toDataURL("image/png");
        capturedImage.src = dataURL;
        capturedImage.style.display = "block";
        document.getElementById("cropBtn").style.display = "block";


        if (cropper) {
            cropper.destroy();
            cropper = null;
        }


        cropper = new Cropper(capturedImage, {
            preview: '.preview',
            aspectRatio: 1, // Tỉ lệ hình vuông
            viewMode: 1,
            autoCropArea: 1, // Vùng crop bao phủ toàn bộ ảnh
            movable: true,
            zoomable: true,
        });



    });

    cropPhoto.addEventListener('click', function () {
        const croppedCanvas = cropper ? cropper.getCroppedCanvas() : null;
        const croppedDataURL = croppedCanvas.toDataURL("image/png");
        // Display the cropped image result
        capturedImage.src = croppedDataURL;

        let imgBase64 = croppedDataURL.replace(/^data:image\/(png|jpeg|gif|heic|webp|jpg);base64,/, '');

        _Student.item.imageSrc = croppedDataURL;
        _Student.item.imageBase64 = imgBase64;

    });

    closeModals.forEach(item => {
        item.addEventListener("click", function () {
            closeModal();
        });
    });

    switchCameraButton.addEventListener('click', switchCamera);

    window.onclick = function (event) {
        if (event.target == modal)
            closeModal();
    }


</script>
