@{
    ViewData["Title"] = "Lập lịch gửi báo cáo tổng quan";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<!-- Main content -->
<div class="content-wrapper" id="webui_inout">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div style="padding: 3px 18px !important; " class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0" style="padding: 10px 8px !important; ">
                        <span class="fw-normal">@ViewData["Title"]</span>
                    </h4>
                </div>

                <div class=" d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                    <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                        <div class="d-inline-flex mt-3 mt-sm-0">
                            <div class="pull-right">
                                <a v-on:click="openFormAdd()" class="btn btn-primary " style="margin-right: 5px;"> Thêm mới</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Content area -->
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <form v-on:submit.prevent="loadData">
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Trạng thái</label>
                                <select class="form-select select" id="FActived">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Ngừng hoạt động</option>
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <label class="form-label">Tìm kiếm theo</label>
                                <select class="form-select select" id="FcolumnTable">
                                    <option value="ScheduleName">Tên lịch gửi</option>
                                </select>
                            </div>

                            @* <div class="col-lg-3">
                                <select class="form-select select" required data-placeholder="Vui lòng chọn tổ chức" id="FOrganization">
                                    <option selected value="0">Tất cả </option>
                                    <option v-for="option in combobox.organizations" v-bind:value="option.id">
                                        {{ option.organizationName }}
                                    </option>
                                </select>
                            </div> *@
                            <div class="col-lg-3">
                                <label class="form-label">Từ khóa tìm kiếm</label>
                                <input type="text" id="key" name="key" placeholder="Nhập từ khóa tìm kiếm" class="form-control" v-model="filter.key">
                            </div>

                            <div class="col-lg-3 my-1 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <bootstrap-table :columns="columns" :data="data" :options="options"></bootstrap-table>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal hide  fade" id="ModelAddEdit" role="dialog" aria-hidden="true">
        <div id="waitDialog" class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="staticBackdropLabel" class="modal-title">{{object.form_tile}} @ViewData["Title"]</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"> </button>
                </div>
                <div class="modal-body">
                    <div class="card-body  mb-3">
                        <div class="row_info row">
                            <p>Thông tin</p>
                            <form class="needs-validation" novalidate id="FormAddEdit">
                                @* <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Tổ chức<span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <select data-dropdown-parent="#ModelAddEdit" required data-placeholder="Vui lòng chọn tổ chức" id="organizationId" class="form-control select">
                                                    <option v-for="option in combobox.organizations" v-bind:value="option.id">
                                                        {{ option.organizationName }}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn tổ chức </div>
                                                <div class="valid-feedback"> </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3">Dữ liệu<span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <select data-dropdown-parent="#ModelAddEdit" required data-placeholder="Vui lòng chọn ngày lấy dữ liệu" id="scheduleDataCollect" class="form-control select">
                                                <option v-for="option in combobox.dataCollectTypes" v-bind:value="option.id">
                                                    {{ option.name }}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">Vui lòng chọn ngày lấy dữ liệu </div>
                                            <div class="valid-feedback"> </div>
                                        </div>
                                    </div>
                                </div>

                                </div> *@
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Tên lịch gửi<span class="text-danger">*</span></label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" required placeholder="Vui lòng nhập tên lịch " v-model="item.scheduleName">
                                                <div class="invalid-feedback">Vui lòng nhập tên lịch gửi</div>
                                                <div class="valid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Loại báo cáo<span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <select data-dropdown-parent="#ModelAddEdit" required data-placeholder="Vui lòng chọn loại báo cáo" id="scheduleReportType" class="form-control select">
                                                    <option v-for="option in combobox.reportTypes" v-bind:value="option.id">
                                                        {{ option.name }}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn loại báo cáo</div>
                                                <div class="valid-feedback"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Giờ gửi báo cáo <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="time" id="scheduleTimeSend" required v-model:value="item.scheduleTimeSend" class="form-control" />
                                                <div class="invalid-feedback">Vui lòng nhập thời gian</div>
                                                <div class="valid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Tuần suất gửi <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <select data-dropdown-parent="#ModelAddEdit" data-placeholder="Vui lòng chọn tuần suất gửi" required id="scheduleSequentialSending" class="form-control select">
                                                    <option v-for="option in combobox.sequentialSendings" v-bind:value="option.id">
                                                        {{ option.name }}
                                                    </option>

                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn tuần suất gửi </div>
                                                <div class="valid-feedback"> </div>
                                            </div>
                                        </div>
                                    </div> *@
                                    
                                </div>

                                <div class="row mb-3">
                                   @*  <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Thời gian lấy dữ liệu từ<span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                <input type="time" id="scheduleTimeStart " required v-model:value="item.scheduleTimeStart" class="form-control" />
                                                <div class="invalid-feedback">Vui lòng nhập thời gian</div>
                                                <div class="valid-feedback"></div>
                                            </div> 
                                            <label class="col-form-label col-md-1">  Đến <span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                <input type="time" id="scheduleTimeEnd" required v-model:value="item.scheduleTimeEnd" class="form-control" />
                                                <div class="invalid-feedback">Vui lòng nhập thời gian</div>
                                                <div class="valid-feedback"></div>
                                            </div> 
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Định dạng tệp báo cáo<span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <select data-dropdown-parent="#ModelAddEdit" required data-placeholder="Vui lòng chọn định dạng" id="scheduleExportType" class="form-control select">
                                                    <option v-for="option in combobox.exportTypes" v-bind:value="option.id">
                                                        {{ option.name }}
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn định dạng </div>
                                                <div class="valid-feedback"> </div>
                                            </div>
                                        </div>
                                    </div> *@
                                </div>

                                <div class="row mb-3">
                                    @* <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Tiêu đề báo cáo<span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <textarea rows="5" class="form-control" required placeholder="Vui lòng nhập tiêu đề" v-model="item.scheduleTitleEmail"> </textarea>
                                                <div class="invalid-feedback">Vui lòng nhập tiêu đề</div>
                                                <div class="valid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Nội dung báo cáo<span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <textarea rows="5" class="form-control" required placeholder="Vui lòng nhập nội dung" v-model="item.scheduleContentEmail">

                                                </textarea>
                                                <div class="invalid-feedback">Vui lòng nhập nội dung</div>
                                                <div class="valid-feedback"></div>
                                            </div>
                                        </div>
                                    </div> *@
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-3">Hoạt động</label>
                                            <div class="col-lg-9">
                                                <div class="form-check-horizontal">
                                                    <label class="form-check form-switch mb-0">
                                                        <input type="checkbox" class="form-check-input" v-model="item.actived">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row mb-3">
                                    <div class="text-end">
                                        <button type="button" class="btn btn-primary" v-on:click="onClickSaveData()">Lưu dữ liệu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @* <div class="card-body">
                        <div class="row_info row">
                            <div v-if="object.editAction" class="col-md-12 text-end">
                                <a v-on:click="onPopupModalSubmitVehicle(null)" style=" margin: 0 0 5px 5px" id="add_row_table" title="Thêm dòng" class=" btn-md btn btn-primary pull-right"> <i class="fa fa-plus"></i> Thêm mới </a>
                            </div>
                            <div class="col-md-12">
                                <bootstrap-table :columns=" columns_selected" :data="data_selected" :options="options"></bootstrap-table>
                            </div>
                        </div>
                    </div> *@

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalSubmitVehicle">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Đăng ký người nhận </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate v-on:submit.prevent="onSubmitFormVehicle" id="FormSubmitVehicle">
                        <div class="box-body">
                            <div class="row_info row">
                                <div class="col-md-12 mb-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6 col-form-label">Họ tên người nhận<span class="text-danger">*</span></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" required v-model="item_add.scheduleUserName">
                                                    <div class="invalid-feedback">Vui lòng nhập họ tên </div>
                                                    <div class="valid-feedback"> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6 col-form-label">Email <span class="text-danger">*</span></label>
                                                <div class="col-md-12">
                                                    <input type="email" class="form-control" required v-model="item_add.scheduleEmail">
                                                    <div class="invalid-feedback">Vui lòng nhập email </div>
                                                    <div class="valid-feedback"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button id="btnSubmit" type="submit" class="btn  btn-primary ">Cập nhật</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#scheduleExportType').on("change", function () {
            _ReportInOut.item.scheduleExportType = $(this).val();
        });
        $('#scheduleSequentialSending').on("change", function () {
            _ReportInOut.item.scheduleSequentialSending = $(this).val();
        });
        $('#scheduleReportType').on("change", function () {
            _ReportInOut.item.scheduleReportType = $(this).val();
        });
        $('#organizationId').on("change", function () {
            _ReportInOut.item.organizationId = $(this).val();
            _ReportInOut.item.organizationName = $(this).find("option:selected").text()?.trim();
        });
        $('#scheduleDataCollect').on("change", function () {
            _ReportInOut.item.scheduleDataCollect = $(this).val();
        });


        $('#FOrganization').on("change", function () {
            _ReportInOut.filter.organizationId = $(this).val();
        });
        $('#FActived').on("change", function () {
            _ReportInOut.filter.actived = $(this).val();
        });
        $('#FcolumnTable').on("change", function () {
            _ReportInOut.filter.columnTable = $(this).val();
        });

    });


    var _ReportInOut = new Vue({
        el: '#webui_inout',
        components: {
            'BootstrapTable': BootstrapTable
        },
        data: {
            columns: [
                {
                    title: "Stt",
                    field: 'sothutu',
                    sortable: true,
                    formatter: (value, row, index) => {
                        var stt = index + 1;
                        return "<span class ='black'> " + stt + "  </span>";
                    },
                },
                {
                    field: 'Xử lý',
                    title: 'Xử lý',
                    sortable: true,
                    align: 'center',
                    formatter: (value, row, index) => {
                        var ele = `<div style="white-space: nowrap;">`;
                        if (row.actived) {
                            ele += `<a href = "javascript:" class= "btn btn-sm btn-info resend"  title = "Gửi lại báo cáo " > <i class="fa fa-repeat" > </i>  </a > &nbsp;`;
                            ele += `<a href = "javascript:" class= "btn btn-sm btn-warning edit"  title = "Cập nhật " > <i class="fa fa-pencil" > </i>  </a > &nbsp;`;
                            ele += `<a href = "javascript:" class= "btn btn-danger btn-sm delete-asset inactive" title="Inactive "> <i class="fa fa-minus-circle" ></i> </a> &nbsp;`;
                        }
                        else {
                            ele += `<a href="javascript:" class="btn btn-info btn-sm delete-asset active" title="Active "> <i class="fa fa-plus-square" ></i><span class="sr-only">Active</span></a> &nbsp;`;
                            ele += `<a href="javascript:" class="btn btn-danger btn-sm delete-asset delete" title="Delete "> <i class="fa fa-trash" ></i> <span class="sr-only">Inactive</span></a>&nbsp;`;
                        }
                        ele += ` </div>`;
                        return ele;
                    },
                    events: {
                        'click .edit': function (e, value, row) {
                            _ReportInOut.onPopupModelEdit(row);
                        },
                        'click .resend': function (e, value, row) {
                            _ReportInOut.onResend(row);
                        },
                        'click .delete': function (e, value, row) {
                            var question = "Bạn có chắc chắn muốn xóa dòng này khỏi cơ sở dữ liệu không? sau khi xóa không khôi phục lại được!";
                            var content = "Nhập nội dung xóa (không quá 250 kí tự)";
                            alertify.prompt(question, content, ''
                                , function (evt, value) {
                                    axios.post('/api/v1/ScheduleSendEmail/Delete', { id: row.id, reason: value + " " }, _ReportInOut.object.bearerAuthorization).then(response => {
                                        if (response.data.succeeded) {
                                            alertify.success(response.data.message);
                                            _ReportInOut.loadData();
                                        }
                                        else {
                                            alertify.warning(response.data.message);
                                        }
                                    }).catch(error => {
                                        alert("Lỗi: " + error.response.data.message);
                                    });
                                }, function () {
                                    //alertify.error('Cancel')
                                });
                        },
                        'click .inactive': function (e, value, row) {
                            var question = "Bạn có chắc chắn muốn ẩn dòng này không?";
                            var content = "Nhập nội dung xóa (không quá 250 kí tự)";
                            alertify.prompt(question, content, '', function (evt, value) {
                                axios.post('/api/v1/AutoReportInOut/Inactive', { id: row.id, reason: value }, _ReportInOut.object.bearerAuthorization).then(response => {
                                    if (response.data.succeeded) {
                                        alertify.success(response.data.message);
                                        _ReportInOut.loadData();
                                    }
                                    else {
                                        alertify.warning(response.data.message || "Có lỗi xảy ra!");
                                    }
                                }).catch(error => {
                                    console.log(error);
                                    alert("Lỗi: " + error.response.data.message);
                                });
                            }, function () {
                                //alertify.error('Cancel')
                            });
                        },
                        'click .active': function (e, value, row) {
                            var question = "Bạn có chắc chắn muốn kích hoạt dòng này không?";
                            alertify.confirm('Thông báo!', question, function () {
                                axios.post('/api/v1/AutoReportInOut/Active', { id: row.id, reason: 'Kích hoạt lại bản ghi' }, _ReportInOut.object.bearerAuthorization).then(response => {
                                    if (response.data.succeeded) {
                                        alertify.success(response.data.message);
                                        _ReportInOut.loadData();
                                    }
                                    else {
                                        alertify.warning(response.data.message || "Có lỗi xảy ra!");
                                    }

                                }).catch(error => {
                                    console.log(error);
                                    alert("Lỗi: " + error.response.data.message);
                                });
                            }, function () { });
                        },
                    }
                },
                {
                    title: "Tên lịch gửi",
                    field: "scheduleName",
                    sortable: true,
                },
                {
                    title: "Loại báo cáo",
                    field: "scheduleReportTypeName",
                    sortable: true,
                },
                {
                    title: "Giờ gửi báo cáo",
                    field: "scheduleTimeSend",
                    sortable: true,
                },
                // {
                //     title: "Tần suất gửi",
                //     field: "scheduleSequentialSending",
                //     sortable: true,
                // },
                // {
                //     title: "Tiêu đề báo cáo",
                //     field: 'scheduleName',
                //     sortable: true,
                // },
                // {
                //     title: "Nội dung",
                //     field: 'scheduleContentEmail',
                //     sortable: true,
                // },
            ],
            data: [],

            columns_selected: [
                {
                    title: "Stt",
                    field: 'sothutu',
                    sortable: true,
                    formatter: (value, row, index) => {
                        var stt = index + 1;
                        return "<span class ='black'> " + stt + "  </span>";
                    },
                },
                {
                    field: 'Xử lý',
                    title: '#',
                    align: 'center',
                    formatter: (value, row, index) => {
                        var ele = `<div style="white-space: nowrap;">`;
                        ele += `<a href = "javascript:" class= "btn btn-sm btn-warning edit"  title = "Update " > <i class="fa fa-pencil" > </i><span class="sr-only">Update</span > </a > &nbsp;`;
                        ele += `<a href = "javascript:" class= "btn btn-danger btn-sm delete-asset delete" title="Delete "> <i class="fa fa-trash" ></i><span class="sr-only">Inactive</span></a> &nbsp;`;
                        ele += ` </div>`;
                        return ele;
                    },
                    events: {
                        'click .edit': function (e, value, row) {
                            _ReportInOut.onPopupModalSubmitVehicle(row);
                        },
                        'click .delete': function (e, value, row) {
                            var question = "Bạn có chắc chắn muốn xóa dòng này khỏi cơ sở dữ liệu không? sau khi xóa không khôi phục lại được!";
                            alertify.confirm('Thông báo!', question, function () {
                                axios.post('/api/v1/ScheduleSendEmailDetail/Delete', { id: row.id, reason: "deleted" }, _ReportInOut.object.config).then(response => {
                                    if (response.data.succeeded) {
                                        alertify.success(response.data.message);
                                        _ReportInOut.onGetDetail();
                                    }
                                    else {
                                        alertify.warning(response.data.message);
                                    }
                                }).catch(error => {
                                    alert("Lỗi: " + error.response.data.message);
                                });
                            }, function () {
                                //alertify.error('Cancel')
                            });
                        },
                    }
                },
                {
                    title: 'Họ tên người nhận',
                    field: 'scheduleUserName',
                    sortable: true,
                },
                {
                    title: 'Email',
                    field: 'scheduleEmail',
                    sortable: true,
                },
            ],
            data_selected: [],

            filter: {
                columnTable: "ScheduleName",
                actived: "1",
                key: "",
                export: "0",
                organizationId: 0,
                scheduleNote: "BAOCAODULIEUVAORA",
            },
            item: {},
            item_add: {},
            combobox: {
                exportTypes: [],
                sequentialSendings: [],
                exportTypes: [],
                organizations: [],
                dataCollectTypes: [],
            },
            options: {
                search: true,
                pagination: true,
                showExtendedPagination: true,
                sortable: true,
                searchAlign: 'right',
                paginationHAlign: 'right',
                paginationDetailHAlign: 'right',
                pageSize: 25,
                pageList: [10, 25, 50, 100, 200],
            },

            object: {
                dateNow: formatDateTime(new Date()),
                editAction: false,
                bearerAuthorization: {
                    headers: { Authorization: `Bearer @Model`, 'Content-Type': 'application/json' }
                }
            },
        },
        methods: {
            loadData() {
                $('.loader').show();
                axios.post('/api/v1/AutoReportInOut/Gets', this.filter, this.object.bearerAuthorization).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }
                    $('.loader').delay(100).hide(0);

                    this.data = response.data.data;
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                    console.log(error);
                });
            },

            openFormAdd() {
                this.object.editAction = false;
                this.onResetForm();
                this.item.scheduleTitleEmail = ``;
                this.item.scheduleContentEmail = ``;
                bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelAddEdit')).show();
            },

            onResetForm() {
                this.item = {
                    actived: true,
                    scheduleNote : "BAOCAODULIEUVAORA"
                };
                this.data_selected = [];
                this.item_add = {};
                resetFormJs();

                $('#scheduleReportType').val(null).trigger('change');
                $('#scheduleExportType').val(null).trigger('change');
                $('#scheduleSequentialSending').val(null).trigger('change');
                $('#organizationId').val(null).trigger('change');
                $('#scheduleDataCollect').val(null).trigger('change');
            },


            onPopupModelEdit(row, editAction) {
                this.object.editAction = true;
                this.item = row;

                $('#scheduleReportType').val(this.item.scheduleReportType).trigger('change');
                $('#scheduleExportType').val(this.item.scheduleExportType).trigger('change');
                $('#scheduleSequentialSending').val(this.item.scheduleSequentialSending).trigger('change');
                $('#organizationId').val(this.item.organizationId).trigger('change');
                $('#scheduleDataCollect').val(this.item.scheduleDataCollect).trigger('change');

                _ReportInOut.onGetDetail();
                bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelAddEdit')).show();
            },

            onClickSaveData() {
                if (!validateForm("#FormAddEdit")) {
                    return true;
                }

                $('.loader').show();
                this.item.scheduleNote = "BAOCAODULIEUVAORA";
                axios.put('/api/v1/AutoReportInOut/Edit', this.item, this.object.config).then(response => {
                    $('.loader').hide(0);
                    if (response.data.succeeded) {
                        _ReportInOut.object.editAction = true;

                        _ReportInOut.item = response.data.data;

                        alertify.success(response.data.message);
                        _ReportInOut.loadData();
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                }).catch(error => {
                    $('.loader').hide(0);
                    console.log(error);
                });
            },


            onGetDetail() {
                $('.loader').show();
                axios.get('/api/v1/ScheduleSendEmailDetail/Get?sheduleId=' + this.item.id, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;

                    $('.loader').delay(100).hide(0);
                    if (response.data.succeeded)
                        this.data_selected = response.data.data;

                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                    console.log(error);
                });
            },

            onResend(row) {
                $('.loader').show();
                axios.get('/api/v1/AutoReportInOut/Resend?id=' + row.id, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;
                    $('.loader').delay(100).hide(0);

                    if (response.data.succeeded)
                        alertify.success("Thao tác thành công!");

                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                    console.log(error);
                });
            },

            onPopupModalSubmitVehicle(data) {
                try {
                    resetFormJs();
                    if (data == null) { this.item_add = { orderId: this.item.id }; }
                    else this.item_add = data;
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('ModalSubmitVehicle')).show();
                } catch (e) {
                    console.log(e);
                }
            },
            onSubmitFormVehicle() {
                if (!validateForm("#FormSubmitVehicle")) {
                    return true;
                }
                $(".loader").show();
                this.item_add.scheduleId = this.item.id;

                axios.put('/api/v1/ScheduleSendEmailDetail/Edit', this.item_add, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;

                    $(".loader").delay(100).hide(0);
                    alertify.success(response.data.message);
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('ModalSubmitVehicle')).hide();

                    _ReportInOut.onGetDetail();
                }).catch((error) => {
                    console.log(error);
                    $(".loader").delay(100).hide(0);
                });
            },

            loadCombox() {
                axios.get('/api/v1/ScheduleSendEmail/Organizations', this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;

                    this.combobox.organizations = response.data.items;
                }).catch(error => {
                    console.log(error);
                });

                axios.get('/api/v1/ScheduleSendEmail/ScheduleEmailOptions', this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;

                    this.combobox.reportTypes = response.data.reportTypesInOut;
                    this.combobox.dataCollectTypes = response.data.dataCollectTypes;
                    this.combobox.sequentialSendings = response.data.sequentialSendingsInOut;
                    this.combobox.exportTypes = response.data.exportTypes;
                }).catch(error => {
                    console.log(error);
                });
            },
        },
        mounted() {
            this.loadData();
            this.loadCombox();
        },
    })
</script>

