@{
    ViewData["Title"] = "Khai báo thiết bị";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<!-- Main content -->
<div class="content-wrapper" id="webui_device">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div style="padding: 3px 18px !important; " class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0" style="padding: 10px 8px !important; ">
                        <span class="fw-normal">@ViewData["Title"]</span>
                    </h4>
                </div>

                <div class="d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                    <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                        <div class="d-inline-flex mt-3 mt-sm-0">
                            <div class="pull-right">
                                <a v-on:click="onPopupModelEdit(null, false)" class="btn btn-primary " style="margin-right: 5px;"> Thêm mới</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /page header -->
        <!-- Content area -->

        <div class="content">

            <div class="card">
                <div class="card-body">
                    <form v-on:submit.prevent="loadData">
                        <div class="row mb-3">
                            <div class="col-lg-2 my-1">
                                <label class="form-label">Trạng thái</label>
                                <select class="form-select" v-model:value="filter.actived">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Ngừng hoạt động</option>
                                </select>
                            </div>
                            <div class="col-lg-2 my-1">
                                <label class="form-label">Nhãn hiệu</label>
                                <select class="form-select" data-placeholder="Vui lòng chọn nhãn hiệu" v-model="filter.deviceModel">
                                    <option v-for="option in combobox.deviceBrands" v-bind:value="option.id">
                                        {{ option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-2 my-1" hidden>
                                <label class="form-label">Trường học</label>
                                <select id="FilterOrganization" class="form-control select" data-dropdown-parent="#webui_device" v-model="filter.organizationId">
                                    <option v-for="option in combobox.schools" v-bind:value="option.id">
                                        {{ option.organizationName }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-2 my-1">
                                <label class="form-label">Tìm kiếm theo</label>
                                <select class="form-select" v-model:value="filter.columnTable">
                                    <option value="SerialNumber">Số serial</option>
                                    <option value="DeviceName">Tên thiết bị</option>
                                    <option value="IPAddress">IP</option>
                                </select>
                            </div>
                            <div class="col-lg-3 my-1">
                                <label class="form-label">Từ khóa tìm kiếm</label>
                                <input type="text" id="key" name="key" placeholder="Nhập từ khóa tìm kiếm" class="form-control" v-model="filter.key">
                            </div>
                            <div class="col-lg-2 d-flex align-items-end my-1">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Tìm kiếm</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <bootstrap-table :columns="columns" :data="data" :options="options"></bootstrap-table>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="ModelAddEdit" aria-hidden="true">
        <div id="waitDialog" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="staticBackdropLabel" class="modal-title">{{object.form_tile}} {{object.form_name}}</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form class="needs-validation" novalidate id="FormAddEdit">
                            <div class="row mb-3">
                                <label class="col-form-label text-end col-lg-3">SerialNumber <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" required v-model="item.serialNumber">
                                    <div class="invalid-feedback">Vui lòng nhập SerialNumber thiết bị</div>
                                    <div class="valid-feedback"> </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label text-end col-lg-3">Tên thiết bị <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" required v-model="item.deviceName">
                                    <div class="invalid-feedback">Vui lòng nhập tên thiết bị</div>
                                    <div class="valid-feedback"> </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label text-end col-lg-3">Nhãn hiệu <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    <select class="form-select" data-placeholder="Vui lòng chọn nhãn hiệu" required v-model="item.deviceModel">
                                        <option v-for="option in deviceBrandsAdd" v-bind:value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn nhãn hiệu</div>
                                    <div class="valid-feedback"> </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label text-end col-lg-3">Mô tả </label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" v-model="item.deviceDescription">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label text-end  col-lg-3">Hoạt động</label>
                                <div class="col-lg-7">
                                    <div class="form-check-horizontal">
                                        <label class="form-check form-switch mb-0">
                                            <input type="checkbox" class="form-check-input" v-model="item.actived">
                                            <span class="form-check-label">Active</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" v-on:click="onSubmitData()">Lưu dữ liệu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("/Views/Shared/Components/_FooterPartial.cshtml")
</div>

<script>
    // connection.on("RefreshDevice", function (data) {
    //     var data1 = JSON.parse(data);
    //     _device.loadData();
    // });

    $(document).ready(function () {
        $('#FilterOrganization').on("change", function () {
            _device.filter.organizationId = $(this).val();
        });
    });

</script>


<script>
    var _device = new Vue({
        el: '#webui_device',
        components: {
            'BootstrapTable': BootstrapTable
        },
        data: {
            columns: [
                {
                    field: '#action',
                    title: 'Chức năng',
                    align: 'center',
                    formatter: (value, row, index) => {
                        var ele = `<div style="white-space: nowrap; ">`;

                        if (row.actived) {
                            ele += `<a href="javascript: " class="btn btn-sm btn-warning edit" title="Cập nhật đăng ký "><i class="fa fa-pencil" > </i> </a> &nbsp `;
                            ele += ` <a href="javascript: " class="btn btn-danger btn-sm delete-asset inactive " title="Ngừng hoạt động "> <i class="fa fa-minus-circle" ></i> </a> &nbsp; `;
                        }
                        if (!row.actived) {
                            ele += ` <a href="javascript:" class="btn btn-danger btn-sm delete-asset active" title="Kích hoạt "> <i class="fa fa-plus-square" ></i> </a> &nbsp; `;
                            ele += ` <a href="javascript: " class="btn btn-danger btn-sm delete-asset delete " title="Xóa "> <i class="fa fa-trash" ></i> </a> &nbsp; `;
                        }
                        ele += ` </div>`;

                        return ele;
                    },
                    events: {
                        'click .edit': function (e, value, row) {
                            _device.onPopupModelEdit(row, true);
                        },
                        'click .delete': function (e, value, row) {
                            var question = "Bạn có chắc chắn xóa thiết bị này không?";
                            alertify.confirm('Thông báo!', question, function () {
                                axios.post('/api/v1/device/delete', { id: row.id, reason: "" }, _device.object.config).then(response => {
                                    if (response.data.succeeded) {
                                        alertify.success(response.data.message);
                                        _device.data = [];
                                        _device.loadData();
                                    }
                                    else {
                                        alertify.warning(response.data.message);
                                    }

                                }).catch(error => {
                                    console.log(error);
                                    alert("Lỗi: " + error.response.data.message);
                                });
                            }, function () { });
                        },
                        'click .inactive': function (e, value, row) {
                            var question = "Bạn có chắc chắn kích hoạt thiết bị này không?";
                            alertify.confirm('Thông báo!', question, function () {
                                axios.post('/api/v1/device/active', { id: row.id, reason: "" }, _device.object.config).then(response => {
                                    if (response.data.succeeded) {
                                        alertify.success(response.data.message);
                                        _device.data = [];
                                        _device.loadData();
                                    }
                                    else {
                                        alertify.warning(response.data.message);
                                    }

                                }).catch(error => {
                                    console.log(error);
                                    alert("Lỗi: " + error.response.data.message);
                                });
                            }, function () { });
                        },
                        'click .active': function (e, value, row) {
                            var question = "Bạn có chắc chắn hủy kích hoạt thiết bị này không?";
                            alertify.confirm('Thông báo!', question, function () {
                                axios.post('/api/v1/device/inactive', { id: row.id, reason: "" }, _device.object.config).then(response => {
                                    if (response.data.succeeded) {
                                        alertify.success(response.data.message);
                                        _device.data = [];
                                        _device.loadData();
                                    }
                                    else {
                                        alertify.warning(response.data.message);
                                    }

                                }).catch(error => {
                                    console.log(error);
                                    alert("Lỗi: " + error.response.data.message);
                                });
                            }, function () { });
                        },
                    }
                },
                {
                    title: 'Tên thiết bị',
                    sortable: true,
                    field: 'deviceName'
                },
                {
                    title: 'SerialNumber',
                    sortable: true,
                    field: 'serialNumber'
                },
                {
                    title: 'Nhãn hiệu',
                    sortable: true,
                    field: 'deviceModel',
                    formatter: (value, row, index) => {
                        const brand = _device.combobox.deviceBrands.find(b => b.id === value);
                        return brand ? brand.name : '';
                    },
                },
                {
                    title: 'Ngày tạo',
                    sortable: true,
                    field: 'createdDate',
                    formatter: function (value, row, index) {
                        if (value) {
                            const d = new Date(value);
                            return d.toLocaleDateString('vi-VN', {
                                year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit'
                            });
                        } else {
                            return ""; // Trả về chuỗi rỗng
                        }
                    },
                },
                {
                    title: 'Trường',
                    sortable: true,
                    field: 'organizationId',
                    formatter: (value, row, index) => {
                        const org = _device.combobox.schools.find(b => b.id === value);
                        return org ? org.organizationName : '';
                    },
                },
                // {
                //     title: 'Tài khoản',
                //     sortable: true,
                //     field: 'deviceID'
                // },
                // {
                //     title: 'Mật khẩu',
                //     sortable: true,
                //     field: 'password'
                // },
                // {
                //     title: 'IP',
                //     sortable: true,
                //     field: 'ipAddress'
                // },
                // {
                //     title: 'Http Port',
                //     sortable: true,
                //     field: 'httpPort'
                // },
                // {
                //     title: 'Port Connect',
                //     sortable: true,
                //     field: 'portConnect'
                // },
                {
                    title: 'Số người dùng',
                    sortable: true,
                    field: 'userCount'
                },
                {
                    title: 'Số khuôn mặt',
                    sortable: true,
                    field: 'faceCount'
                },
                
                {
                    title: 'Mô tả ',
                    sortable: true,
                    field: 'deviceDescription'
                },
                {
                    title: 'Thời gian cập nhật',
                    field: 'lastModifiedDate',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value) {
                            const d = new Date(value);
                            return d.toLocaleDateString('vi-VN', {
                                year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit'
                            });
                        } else {
                            return ""; // Trả về chuỗi rỗng
                        }
                    },
                },

            ],
            data: [],
            options: {
                search: true,
                pagination: true,
                showExtendedPagination: true,
                sortable: true,
                searchAlign: 'right',
                paginationHAlign: 'left',
                paginationDetailHAlign: 'right',
                pageSize: 25,
                pageList: [10, 25, 50, 100, 200],
            },
            filter: {
                columnTable: "SerialNumber",
                actived: "1",
                deviceModel: "0",
                organizationId: "0",
                key: "",
                export: "0",
            },
            object: {
                dateNow: formatDateTime(new Date()),
                form_tile: '',
                form_name: 'thiết bị',
                editAction: false,
                infoAction: false,
                config: {
                    headers: { Authorization: `Bearer @Model`, 'Content-Type': 'application/json' }
                }
            },
            deviceBrandsAdd: [],
            item: { actived: true, },
            combobox: { schools: [], deviceBrands: [], },
        },
        methods: {
            loadData() {
                $('.loader').show();
                axios.post('/api/v1/Device/Post', this.filter, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }
                    if (response.status == 302 || response.status == 401)
                        window.location.href = '/Account/login?ReturnUrl=%2F';

                    if (response.data.succeeded) {
                        this.data = response.data.data;
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }

                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                });
            },
            onResetForm() {
                this.item = {
                    actived: true,
                    deviceModel: null,
                    serialNumber: null,
                    deviceName: "",
                    deviceDescription: "",
                };
            },
            onPopupModelEdit(row, editAction) {
                if (editAction)
                    this.item = row;
                else {
                    this.onResetForm();
                }

                this.object.editAction = editAction;
                this.object.form_tile = editAction ? 'Chỉnh sửa' : "Thêm mới";

                bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelAddEdit')).show();
            },
            onSubmitData() {
                if (!validateForm("#FormAddEdit"))
                    return true;

                $('.loader').show();
                axios.put('/api/v1/Device/Edit', this.item, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login'))
                        window.location = window.location.href;

                    $('.loader').hide(0);
                    if (response.status == 302 || response.status == 401)
                        window.location.href = '/Account/login?ReturnUrl=%2F';

                    if (response.data.succeeded) {
                        _device.loadData();

                        bootstrap.Modal.getOrCreateInstance(document.getElementById('ModelAddEdit')).hide();
                        alertify.success(response.data.message);
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                }).catch(error => {
                    $('.loader').hide(0);

                });
            },
            getCookie(name) {
                const value = "; " + document.cookie;
                const parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            },
            loadCombox() {
                axios.get('/api/v1/Organization/Gets', this.object.config).then(response => {
                    if (response.request.responseURL.includes('Auth/Login')) {
                        window.location = window.location.href;
                    }
                    this.combobox.schools = [{ id: "0", organizationName: "Tất cả" }, ...response.data.data];
                    if (this.getCookie("organizationId")) {

                        this.filter.organizationId = this.getCookie("organizationId");
                        $('#FilterOrganization').val(this.filter.organizationId);
                    }
                    else {
                        this.filter.organizationId = this.combobox.schools[0].id;
                        $('#FilterOrganization').val(this.filter.organizationId);
                    }

                    this.loadData();
                }).catch(error => {
                    console.warn(error);
                });

                axios.get('/api/v1/device/GetDeviceBrands', this.object.config).then(response => {
                    if (response.request.responseURL.includes('Auth/Login')) {
                        window.location = window.location.href;
                    }
                    this.deviceBrandsAdd = response.data.data;
                    this.combobox.deviceBrands = [{ id: "0", name: "Tất cả" }, ...response.data.data];
                }).catch(error => {
                    console.warn(error);
                });
            },
        },
        mounted() {
            //this.loadData();
            this.loadCombox();
        },
    })
</script>

