@{
    ViewData["Title"] = "Lịch sử điểm danh";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<!-- Main content -->
<div class="content-wrapper" id="webui">
    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div style="padding: 3px 18px !important; " class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0" style="padding: 10px 8px !important; ">
                        <span class="fw-normal">@ViewData["Title"]</span>
                    </h4>
                    <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                        <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /page header -->
        <!-- Content area -->
        <div class="content">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3  ">
                        <div class="col-md-3">
                            <label class="form-label">Từ ngày</label>
                            <datetime type="date"
                                      v-model="filter.startDate"
                                      class="form-control p-0" input-class="w-100 py-12 px-2 border-0"
                                      placeholder="Vui lòng chọn thời gian...">
                            </datetime>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Đến ngày</label>
                            <datetime type="date"
                                      v-model="filter.endDate"
                                      class="form-control p-0" input-class="w-100 py-12 px-2 border-0"
                                      placeholder="Vui lòng chọn thời gian...">
                            </datetime>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="text-start">
                            <button type="button" v-on:click=onLoadData() class="btn btn-primary" style="margin-right: 5px;">Tìm kiếm</button>
                            <button type="button" v-on:click=onExport() class="btn btn-primary" style="margin-right: 5px;">Xuất báo cáo</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <bootstrap-table :columns="columns" :data="data" :options="optionTable.options"></bootstrap-table>

                    <div class="row ">
                        <div class="text-danger">Lưu ý:</div>
                    @*     <div class="col-md-12" style=" justify-content: center;">
                            <ul style="list-style-type: none; padding-left: 0px;">
                                <li class="list-color"><span class="block-color ROW_WHITE"> C </span> Có mặt </li>
                                <li class="list-color"><span class="block-color ROW_SUCCESS">K </span> Nghỉ không phép </li>
                                <li class="list-color"><span class="block-color ROW_WARN ">P </span> Nghỉ không phép </li>
                                <li class="list-color" style="margin-left: 1px;"><span class="block-color  ROW_DANGER"> X </span> Trường hợp đặc biệt (Đi muộn, bỏ tiết, về sớm)</li>
                            </ul>
                        </div>
 *@
                        <div class="col-md-12" style=" justify-content: center;">
                            <ul style="list-style-type: none; padding-left: 0px;">
                                <li class="list-color"><span class="block-color ROW_WHITE"> 0 </span> Sáng  </li>
                                <li class="list-color"><span class="block-color ROW_SUCCESS">1 </span> Chiều </li>
                                <li class="list-color"><span class="block-color ROW_WARN ">2 </span> Tối </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="XemChiTiet">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hình ảnh </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row img-platenumber">
                        <div class="col-sm-12">
                            <div style=" padding: 5px;  box-shadow:unset !important ;border:  unset !important" class="panel">
                                <label style="padding:5px 0 0 5px;color:forestgreen" class="control-label recent-history ">Hình ảnh</label>
                                <table style=" border: 1px solid #ddd !important;min-height: 250px; " class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Lượt xe </th>
                                            <th>Hình trước </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style=" vertical-align: inherit !important;">  </td>
                                            <td><a class="anh_report" id="anh_chup_truoc_lan1" data-fancybox="gallery" href="" target="_blank"> <img style="width:150px; height: 130px !important  " src=" " alt=" " /> </a></td>
                                        </tr>
                                        <tr>
                                            <td style=" vertical-align: middle;" colspan="1">Biển số  </td>
                                            <td style="height:60px !important"><a class="anh_report" id="bien_so_xe_sau_lan1" target="_blank" data-fancybox="gallery" href=""> <img style="height: 35px;  object-fit: contain;" src=" " alt=" " /> </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div style=" padding: 5px 15px;" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        // $('#classId').on("change", function () {
        //     _bcX.filter.classId = $(this).val() ?? null;
        //     _bcX.combobox.data = [];
        //     _bcX.onLoadData();
        // });
    });

    var _bcX = new Vue({
        el: '#webui',
        components: {
            'BootstrapTable': BootstrapTable
        },
        data: {
            filter: {
                export: 0,
                classId: null,
                schoolYearId: null,

                startDate: formatDateTime(new Date()),
                endDate: formatDateTime(new Date()),
            },
            data: [],
            name_file: "LICHSUDIEMDANH_" + new Date().getDate() + "_" + new Date().getTime(),
            columns: [
                {
                    title: "Index",
                    field: 'sothutu',
                    sortable: true,
                    formatter: (value, row, index) => {
                        var stt = index + 1;
                        return "<span class ='black'> " + stt + "  </span>";
                    },
                },
                {
                    title: "Student Code",
                    field: 'studentCode',
                    sortable: true,

                },
                {
                    title: "Student Name",
                    field: 'studentName',
                    sortable: true,

                },

                {
                    title: "Class",
                    sortable: true,
                    field: 'className'
                },
                {
                    title: "DeviceIp",
                    sortable: true,
                    field: 'deviceIP'
                },

                {
                    title: "Date",
                    field: 'eventTime',
                    sortable: true,
                    formatter: (value, row, index) => {
                        if (row.eventTime) {
                            var eventTime = moment(row.eventTime).format('DD/MM/YYYY HH:mm:ss');
                            return "<span class ='black'> " + eventTime + "  </span>";
                        }
                    },
                },
                {
                    title: " Section",
                    field: 'attendenceSection',
                    sortable: true,
                },
                {
                    title: "Value",
                    field: 'valueAbSent',
                    sortable: true,
                },
                // {
                //     title: "DeviceInName",
                //     field: 'deviceName',
                //     sortable: true,
                // },
                // {
                //     title: "DeviceOutName",
                //     field: 'deviceOutName',
                //     sortable: true,
                // },

                {
                    title: "CreatedDate",
                    field: 'createdDate',
                    sortable: true,
                    formatter: (value, row, index) => {
                        if (row.createdDate) {
                            var createdDate = moment(row.createdDate).format('DD/MM/YYYY HH:mm:ss');
                            return "<span class ='black'> " + createdDate + "  </span>";
                        }
                    },
                },
            ],
            object: {
                dateNow: formatDateTime(new Date()),
                config: {
                    headers: { Authorization: `Bearer @Model`, 'Content-Type': 'application/json' }
                }
            },
            optionTable: {
                options: {
                    search: true,
                    pagination: true,
                    showExtendedPagination: true,
                    sortable: true,
                    searchAlign: 'right',
                    paginationHAlign: 'lefft',
                    paginationDetailHAlign: 'right',
                    pageSize: 25,
                    pageList: [10, 25, 50, 100, 200],
                },
            },
            combobox: { schools: [], schoolYears: [], classes: [] },
        },
        methods: {
            onLoadData() {
                $('.loader').show();
                axios.post('/api/v1/TimeAttenceEvent/Post', this.filter, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }

                    this.data = response.data.data;
                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                    console.log(error);
                });
            },

            onExport() {
                $('.loader').show();
                axios.post('/api/v1/TimeAttenceEvent/export', this.filter, this.object.config).then(response => {
                    if (response.request.responseURL.includes('Auth/Login'))
                        window.location = window.location.href;

                    $('.loader').delay(100).hide(0);
                    window.location.href = '/' + response.data;
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                    console.log(error);
                });
            },

            popupViewDetail(row) {
                this.value = row;
                bootstrap.Modal.getOrCreateInstance(document.getElementById('XemChiTiet')).show();
            },

            onLoadCombobox() {
                axios.post('/api/v1/StudentSmas/PostSchool', null, this.object.config).then(response => {
                    if (response.request.responseURL.includes('~/Account/Login')) {
                        window.location = window.location.href;
                    }
                    if (response.data.succeeded) {
                        this.combobox.schools = {
                            ...response.data.data.schools
                        };
                    }
                    else {
                        alertify.notify(response.data.message, 'error', 6, function () { });
                    }
                    $('.loader').delay(100).hide(0);
                }).catch(error => {
                    $('.loader').delay(100).hide(0);
                })
            },

        },
        mounted() {
            // this.onLoadCombobox();
            this.onLoadData();
        },
    })
</script>
