@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
<script src="~/js/chart/loader.js" asp-append-version="true"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
</script>


<!-- Main content -->
<div class="content-wrapper" id="webui">
    <div class="content-inner">

        <!-- Content area -->
        <div class="content" style="padding: 10px !important">
            <h1>Vui lòng liên hệ quản trị để cấp quyền truy cập!</h1>
        </div>
    </div>
</div>

